@page "/crud/{ProgramCourseId:int?}"

<PageTitle>CRUD - StarTED</PageTitle>

@if (!IsNewProgramCourse)
{
    <h3>CRUD - View/Edit Courses</h3>

}
else
{
    <h3>CRUD - Add Courses</h3>
}

<!--Validation-->
@if (!string.IsNullOrWhiteSpace(feedback))
{
    <div class="alert alert-info">
        @feedback
    </div>
}

@if (errorList.Count > 0)
{
    <div class="alert alert-danger">
        <p class="mb-3">Please fix the following errors:</p>

        <ul>
            @foreach (var error in errorList)
            {
                <li>@error</li>
            }
       </ul>
    </div>
}

<div class="container border">
    <div class="py-4">
         <fieldset>
            <legend>Course Details</legend>
            <div class="row-cols-2 d-flex">
                <div id="select-program" class="row-cols-2 d-flex">
                    <label class="col-2" for="program-name"> Program:</label>
                    <select class="form-select" id="program-name" value="@(ProgramId == null ? 0 : ProgramId)" @onchange="HandleSelectedProgram">
                        <option selected value="0"> Select a Program</option>
                        @if (Programs != null)
                        {
                            foreach (var prog in Programs)
                            {
                                <option value="@prog.ProgramId">@prog.ProgramName</option>
                            }
                        }
                        else
                        {
                            <div>
                                No  cursos
                            </div>
                        }

                    </select>
                </div>

                <div id="select-program-course" class="row-cols-2 d-flex">
                    <label for="course-name" class="col-3"> Course:</label>
                    <select class="form-select" id="course-name" value="@(CourseId == null ? 0 : CourseId)" @onchange="HandleSelectedCourse">
                        <option selected value="0"> Select a Course</option>
                        @if (CoursesList != null)
                        {
                            foreach (var c in CoursesList)
                            {
                                <option value="@c.CourseId">@c.CourseName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div id="upper-section" class="row-cols-2 d-flex">
                <section id="section-one" class="">
                    <div class="row-cols-2 d-flex">
                        <label for="course-id" class="form-label col-2">Course Id:</label>
                        <input class="form-control" disabled id="course-id" @bind="CourseId" />
                    </div>
                    <div class="row-cols-2 d-flex">
                        <label for="tprogram-course-id" class="col-2">PC Id:</label>
                        <input class="form-control" disabled id="program-course-id" @bind="ProgramCourseId" />
                    </div>
                    <div class="row-cols-2 d-flex">
                        <label for="course-credits" class="col-2">Credits:</label>
                        <input class="form-control" disabled id="course-credits" @bind="@Credits" />
                    </div>
                    <div class="row-cols-2 d-flex">
                        <label for="total-hours" class="col-2">Total Hours:</label>
                        <input class="form-control" disabled id="total-hours" @bind="TotalHours" />
                    </div>                    
                    <div class="row-cols-2 d-flex">
                        <label class="form-label col-2" for="course-description">Description:</label>
                        <textarea disabled class="form-control" rows="3" id="course-description" @bind="Description"/>
                    </div>
                </section>

                <!--End section-one-->
                <section id="section-two" class="">                    
                    <div class="row-cols-2 d-flex">
                        <label for="term" class="col-3">Term:</label>
                        <input class="form-control" disabled id="term" @bind="Term" />
                    </div>
                    <div class="row-cols-2 d-flex">
                        <label for="tuition" class="form-label col-3">Tuition:</label>
                        <input class="form-control" disabled id="tuition" @bind="Tuition" />
                    </div>
                    <div class="row-cols-2 d-flex">
                        <label for="section-limit" class="col-3">Section Limit:</label>
                        <input class="form-control" id="section-limit" @bind="SectionLimit" />
                    </div>
                    <div class="row-cols-2 d-flex">
                        <div class="col-5 mx-2 my-0">
                            <label for="required" class="form-label col-7 ">Required:</label>
                            <input class="form-check-input" type="checkbox" id="required" checked="@(Required ? true : false)" />
                        </div>
                        <div class="col-5 justify-content-end d-flex my-1">
                            <label for="active" class="form-label">Active:</label>
                            <input class="form-check-input col-6" type="checkbox" id="active" @bind="Active">
                        </div>                        
                    </div>
                    <div class="row-cols-2 d-flex">
                        <label for="comments" class="form-label col-3">Comments:</label>
                        <textarea class="form-control" rows="3" id="comments" @bind="Comments" />
                    </div>

                </section>
            </div>
            <section id="section-three" class="d-flex">

                <div id="menu-buttons" class="w-75 m-auto d-flex">                    
                    <div>
                        <button class="btn btn-outline-info" @onclick="HandleSaveProgramCourse">Save Course</button>
                    </div>
                    <div hidden="@IsNewProgramCourse">
                        <button class="btn btn-danger" @onclick="HandleDeactivate">Deactivate Course</button>
                    </div>

                    <div>
                        <a href="/query" class="btn btn-outline-danger">Cancel</a>
                    </div>

                    <div>
                        <button class="btn btn-outline-primary" @onclick="ClearFields">Clear</button>
                    </div>
                </div>

            </section>
         </fieldset>
    </div>
</div>